body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: solid black;
    width: 60%;
    height: 50%;
    min-width: 650px;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px
}

form{
    border: solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 90%;
    padding: 25px;
    max-width: 400px;
    min-width: 300px;
    border-radius: 20px;
    background-color: #f9f9f9;
    grid-row: 1/4;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;    
}
input:focus{
    outline-color: #28a745;
}
label{
    font-size: 18px;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
}

button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.progress-bar {
    border: 2px solid rgba(0, 0, 0, 0.219);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 70px;
}  
.complete{
    justify-self: center;
    align-self: center;
} 
.percent{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #28a745;
}

.requirements {
    background-color: rgba(128, 128, 128, 0.343);
    grid-row: 2/4;
    border-radius: 20px;
    width: 70%;
    justify-self: flex-end;
    padding: 20px;
}

#item1, #item2, #item3{
    text-decoration: line-through;
    color: gray
}

img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
}